@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?k4wgod');
	src:url('../fonts/icomoon.eot?#iefixk4wgod') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?k4wgod') format('truetype'),
		url('../fonts/icomoon.woff?k4wgod') format('woff'),
		url('../fonts/icomoon.svg?k4wgod#icomoon') format('svg');
	font-weight: 100;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: 100;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	color: #fff;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-tel:before {
	content: "\e600";
}
.icon-location:before {
	content: "\e601";
}
.icon-airplane:before {
	content: "\e602";
}
.icon-services:before {
	content: "\e603";
}
.icon-calendar:before {
	content: "\e604";
}
.icon-about:before {
	content: "\e605";
}
.icon-work:before {
	content: "\e606";
}
.icon-contact:before {
	content: "\e607";
}
.icon-left:before {
	content: "\e608";
}
.icon-face:before {
	content: "\e609";
}
.icon-x:before {
	content: "\e60a";
}
