.card
  h3.card--name Michelin Agilis
  img(src="img/item.png", alt="Michelin Agilis").card--img
  ul.card--char
    li.card--char--diam R14
    li.card--char--width 185/60
    li.card--char--price
      | 1196
      i грн
  a(href="").card--more
  a(href="").card--buy