section.catalog
  h4.catalog--title Мы подобрали летние шины типоразмера <b class="green">185/80 R14С</b> для среднего класса авто
  .row
    - for (var x = 0; x < 9; x++)
      .col-4.columns.catalog--card
        | <?php card(); ?>
    .catalog--footer
      p
        | Мы подобрали для Вашего авто только <b>самые популярные</b> среди 
        | украинских автомобилистов модели. 
      a(href="").catalog--link Посмотреть все предложения для Вашего авто
