section.choose
  h2.choose--title Выберите класс авто:
  .row
    .col-3.columns
      .icon-car_1.right.choose--car
      a(href="").choose--link Небольшие автомобили
      .choose--hint
        p
          |Автомобили с максимальной скоростью не выше 190 км/ч <br>
          | <b>Автомобили данной категории:</b> 
          | Fiat Punto, Renault Clio, Peugeot 207, Citroen C1, Ford Fiesta.

    .col-3.columns
      .icon-car_2.right.choose--car
      a(href="").choose--link Средний класс
      .choose--hint
        p
          |Автомобили с максимальной скоростью не выше 190 км/ч <br>
          | <b>Автомобили данной категории:</b> 
          | Fiat Punto, Renault Clio, Peugeot 207, Citroen C1, Ford Fiesta.

    .col-3.columns
      .icon-car_3.right.choose--car
      a(href="").choose--link Премиум класс <br> и спортивные автомобили
      .choose--hint
        p
          |Автомобили с максимальной скоростью не выше 190 км/ч <br>
          | <b>Автомобили данной категории:</b> 
          | Fiat Punto, Renault Clio, Peugeot 207, Citroen C1, Ford Fiesta.

    .col-3.columns
      .icon-car_4.right.choose--car
      a(href="").choose--link Легкогрузовые
      .choose--hint
        p
          |Автомобили с максимальной скоростью не выше 190 км/ч <br>
          | <b>Автомобили данной категории:</b> 
          | Fiat Punto, Renault Clio, Peugeot 207, Citroen C1, Ford Fiesta.