section.choose
  h2.choose--title Выберите диаметр шины:
  ul.choose--btn-group
    li.choose--btn-group-btn R 13
    li.choose--btn-group-btn R 13  C
    li.choose--btn-group-btn R 14
    li.choose--btn-group-btn R 14 C
    li.choose--btn-group-btn R 15
    li.choose--btn-group-btn R 15 C