section.choose.choose__bubbles
  h2.choose--title Выберите ширину/высоту шины:
  ul.choose--btn-group
    li.choose--btn-group-btn 185/80
    li.choose--btn-group-btn 185/80
    li.choose--btn-group-btn 185/80
    li.choose--btn-group-btn 185/80
    li.choose--btn-group-btn 185/80
    li.choose--btn-group-btn 185/80
    li.choose--btn-group-btn 185/80
    li.choose--btn-group-btn 185/80
