section.questions
  h4.questions--title Остались вопросы?
  .row
    .col-4.columns
      h4.questions--subtitle Телефон менеджера
      h5.questions--desc для вопросов и консультации
      .questions--manager
        .questions--manager--image
          img(src="/img/manager.png", alt="")
        h4.questions--manager--name Константин Озаренский
        h5.questions--manager--desc Менеджер по продажам
        .icon-iphone.questions--manager--tel-img
        a(href="tel:+3800000000").questions--manager--tel (000) 000-00-00

    .col-4.columns
      h4.questions--subtitle Чат оn-line
      h5.questions--desc с консультантом
      a(href="").questions--link.questions--link__chat
        .icon-chat.questions--link--image
        span.questions--link--btm Начать чат

    .col-4.columns
      h4.questions--subtitle Перезвоните мне
      h5.questions--desc обратный звонок
      a(href="").questions--link.questions--link__tel
        .icon-ipad.questions--link--image
        span.questions--link--btm Заказать

