section.questions
  h4.questions--title Остались вопросы?
  .row
    .col-3.columns
      h4.questions--subtitle Телефон менеджера
      h5.questions--desc для вопросов и консультации
      .questions--manager
        img(src="/img/manager.png", alt="").questions--manager--image
        h4.questions--manager--name Константин Озаренский
        h5.questions--manager--desc Менеджер по продажам
        .icon-ipad.questions--manager--tel-img
        a(href="tel:+3800000000").questions--manager--tel (000) 000-00-00

    .col-3.columns
      h4.questions--subtitle Чат оn-line
      h5.questions--desc с консультантом
      a(href="").questions--link
        .icon-chat.questions--link--image
        span.questions--link--btm Начать чат

    .col-3.columns
      h4.questions--subtitle Перезвоните мне
      h5.questions--desc обратный звонок
      a(href="").questions--link
        .icon-ipad.questions--link--image
        span.questions--link--btm Заказать

