section.subscribe
  h2.subscribe--title Хотите первым знать об акциях, скидках и распродажах
  p.subscribe--desc Подпишитесь на электронную рассылку
  form
    input(type="text" placeholder="Введите адрес").subscribe--input
    button.subscribe--btn
      Подписаться
      i.icon-mail.subscribe--btn--image