section.subscribe
  h2.subscribe--title Хотите первым знать об акциях, скидках и распродажах
  p.subscribe--desc Подпишитесь на электронную рассылку
  .subscribe--form
    form
      input(type="text" placeholder="Введите адрес").subscribe--form--input
      button.subscribe--form--btn
        Подписаться
        i.icon-mail.subscribe--form--btn--image