section.why
  h2.choose--title Выберите класс авто:
  .row
    .col-3.columns.why--item
      .icon-why_1.right.why--item--image
      h4.why--item--heading Нам доверяют
      p.why--item--description
        | интернет-магазин автомобильного сайта №1 в Украине AUTO.RIA.com

    .col-3.columns.why--item
      .icon-why_2.right.why--item--image
      h4.why--item--heading Выгодно
      p.why--item--description 
        | Бесплатная доставка по Украине курьерскими службами
      .why--item--delivery
        a(href="").icon-intime
        a(href="").icon-novaposta

    .col-3.columns.why--item
      .icon-why_3.right.why--item--image
      h4.why--item--heading Без предоплат
      p.why--item--description
        | Оплата только после получения товара

    .col-3.columns.why--item
      .icon-why_4.right.why--item--image
      h4.why--item--heading Работаем
      p.why--item--description
        | Прием заказов по телефону и на сайте круглосуточно

