.choose {

  &__bubbles {
    min-height: 150px;
    background: url(../img/bubbles.png) no-repeat 3.2% 90%;
    border-bottom: 3px solid #6eb120;
  }

  &--title {
    position: relative;
    padding-left: 60px;
    color: #3d3d3d;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    &__inline {
      display: inline-block;
      vertical-align: top;
    }

    &:before {
      content: "";
      position: absolute;
      left: 12px;
      top: -18px;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 54px 26.5px 0 26.5px;
      border-color: #6eb120 transparent transparent transparent;
      -moz-transform: scale(1) rotate(225deg) skewY(12deg);
      -webkit-transform: scale(1) rotate(225deg) skewY(12deg);
      transform: scale(1) rotate(225deg) skewY(12deg);
    }
  }

  &--car {
    position: absolute;
    top: 0;
    right: 20px;
    height: 70px;
    width: 130px;
    &__big {
      right: 30px;
    }
  }

  input {
    display: none;

    &:checked + label {
      background-color: #6eb120;
      color: #fff;
    }
  }

  &--link {
    cursor: pointer;
    display: block;
    max-height: 73px;
    width: 100%;
    margin-top: 40px;
    padding: 17px 0 10px;

    border-top: 23px solid #d0d0d0;
    border-radius: 5px;
    background-color: #eeeeee;

    color: #525252;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-decoration: none;

    &__two {
      padding: 5px 0 6px;
    }
    &:hover,
    &:focus,
    &:active {
      background-color: #6eb120;
      color: #fff;
      & + .choose--hint {
        display: block;
      }
    }
  }

  &--hint {
    position: absolute;
    z-index: 5;
    top: 110%;
    display: none;
    width: 400px;
    background: #eeeeee;
    border-radius: 5px;
    padding: 4px;
    color: #525252;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;

    &:before {
      position: absolute;
      content: "";
      left: 7%;
      top: -12px;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 13px 8px;
      border-color: transparent transparent #eeeeee transparent;
    }
  }


  &--btn-group{
    display: inline-block;
    list-style-type: none;
    padding-left: 11px;
    max-width: 550px;

    &--btn {
      display: inline-block;

      input {
        display: none;

        &:checked + label {
          border: 2px solid #6eb120;
          background: #6eb120;
          color: #3d3d3d;
        }
      }

      label {
        cursor: pointer;
        display: block;
        margin: 0 4px 10px 0;
        padding: 0 10px 0;

        border-radius: 2px;
        border: 2px solid #eeeeee;

        color: #3d3d3d;
        font-size: 18px;
        font-weight: 700;
        line-height: 33px;
        text-align: center;
      }
    }
  }
}
