/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-car_1 {
  background-image: url(../img/sprite.png);
  background-position: -1015px -814px;
  width: 130px;
  height: 78px;
}
.icon-car_2 {
  background-image: url(../img/sprite.png);
  background-position: -1195px -691px;
  width: 131px;
  height: 73px;
}
.icon-car_3 {
  background-image: url(../img/sprite.png);
  background-position: -1376px -573px;
  width: 130px;
  height: 68px;
}
.icon-car_4 {
  background-image: url(../img/sprite.png);
  background-position: -831px -942px;
  width: 134px;
  height: 84px;
}
.icon-chat {
  background-image: url(../img/sprite.png);
  background-position: -1556px -458px;
  width: 78px;
  height: 65px;
}
.icon-intime {
  background-image: url(../img/sprite.png);
  background-position: -1784px -242px;
  width: 69px;
  height: 44px;
}
.icon-ipad {
  background-image: url(../img/sprite.png);
  background-position: -1684px -336px;
  width: 50px;
  height: 72px;
}
.icon-iphone {
  background-image: url(../img/sprite.png);
  background-position: -2090px 0px;
  width: 19px;
  height: 28px;
}
.icon-mail {
  background-image: url(../img/sprite.png);
  background-position: -2012px -78px;
  width: 28px;
  height: 20px;
}
.icon-novaposta {
  background-image: url(../img/sprite.png);
  background-position: -1903px -148px;
  width: 59px;
  height: 44px;
}
.icon-why_1 {
  background-image: url(../img/sprite.png);
  background-position: -420px -1282px;
  width: 156px;
  height: 156px;
}
.icon-why_2 {
  background-image: url(../img/sprite.png);
  background-position: -626px -1076px;
  width: 155px;
  height: 156px;
}
.icon-why_3 {
  background-image: url(../img/sprite.png);
  background-position: 0px -1694px;
  width: 164px;
  height: 156px;
}
.icon-why_4 {
  background-image: url(../img/sprite.png);
  background-position: -214px -1488px;
  width: 156px;
  height: 156px;
}
