doctype html
html(lang="ru")
  |<?php
  |  include 'functions.php';
  |  links();
  |?>
  body
    | <?php head(); ?>
    main.index
      | <?php carousel(); ?>
      #choose_wrapper
        | <?php choose_one(); ?>
        | <?php choose_two(); ?>
        | <?php choose_three(); ?>
      | <?php catalog(); ?>
      | <?php why(); ?>
      | <?php questions(); ?>
      | <?php subscribe(); ?>
    |<?php footer(); ?>









